body{
  margin:0;
   display:flex;
  /* herşeyi merkezde yapmak için  justify*/
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;

}
h1{
  margin:0;
  margin-bottom: .5rem;
  /*input ve convert tagı arasında mesafe bırakmak için*/
}
.input{
  border:1px solid #444;
  border-radius: .3em;
  padding: .25rem;/* sayıların inputların içine sığması için*/
  width: 7em;
}
select{
  margin-left: .5rem;
}
.equals{
  font-weight: bold;
  font-size: 2rem;
}